extends common/layout

block layout-content 
  .video-background
    .video-foreground
      iframe(src='https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ' frameborder='0' allowfullscreen='' allow='autoplay')

  div.home
    img(src='images/iconLiquorMaketplaceWhite.svg' alt='logoSVG')
    h1.page-title.text-light  World's Whiskeys Premium Selection
    a.btn.btn-light(href='/products') Visit our products